<div style="margin: 0 15px">
    <div class="row">
        <h3>{{$ctrl.product.name || "Producto no encontrado"}}</h3>
        <h5>{{$ctrl.product.category.name}}</h5>
    </div>
    <div ng-show="$ctrl.product" class="row productContainer" style="padding: 20px">
        <div id="imageContainer" class="col-md-6">
            <img ng-src="{{$ctrl.product.photos | PhotoFilter}}" />
        </div>
        <div class="col-md-6">
            <div class="visible-xs visible-sm" style="height: 20px"></div>
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td>
                            <label>Publicado:</label> <span>{{$ctrl.product.published_date | date}}</span><br>
                        </td>
                        <td rowspan="2" align="right" valign="middle">
                            <button ng-click="$ctrl.addFavorites($ctrl.product.id)" ng-show="!$ctrl.isFavorite" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-star-empty yellowStar" aria-hidden="true"></span> Añadir a Favoritos
                            </button>
                            <div id="removeFavoriteDiv" ng-show="$ctrl.isFavorite">
                                <span style="font-size: 25px" class="glyphicon glyphicon-star yellowStar" aria-hidden="true"></span>
                                <span ng-click="$ctrl.removeFavorites($ctrl.product.id)">
                                    <a href="#">Eliminar de favoritos</a>
                                </span>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Estado:</label> <span ng-class="['sellingState', {soldState: $ctrl.product.state == 'sold'}]">{{$ctrl.product.state | StateFilter}}</span><br>
                        </td>
                    </tr>
                </tbody>
            </table>
            <label>Descripción:</label>
            <div ng-bind-html="$ctrl.product.description"></div>
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td>
                            <a href="#">
                                <img height="50px" class="img-circle" ng-src="{{$ctrl.product.seller.avatar | PhotoFilter}}" />
                                <span class="sellerSpan">{{$ctrl.product.seller.nick}}</span>
                            </a>
                        </td>
                        <td align="right">
                            <div class="priceDiv2">{{$ctrl.product.price | currency}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>

            </div>

        </div>
    </div>
</div>