<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pnaelProduct">
    <div class="productContainer animated">
        <a href="#" ng-link="['Detail', {id: product.id}]">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img ng-src="{{product.photos | PhotoFilter}}" />
                        </td>
                        <td valign="top" style="padding: 5px 10px">
                            <strong>{{product.name}}</strong> <br>
                            <small>{{product.category.name}}</small>
                            <div class="priceDiv">{{product.price | currency}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="isFavorite" class="favoritesDiv">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div ng-show="product.state == 'sold'" class="soldDiv">Vendido</div>
        </a>
    </div>
</div>