body {
    background-color: #ddd;
}

.navbar-brand {
    font-size: 25px;
}

#mainContainer {
    padding-top: 55px;
    padding-bottom: 55px;
}

.pnaelProduct {
    padding: 5px;
}

.productContainer {
    background-color: #fff;
}

.productContainer strong {
    color: #555;
    font-size: 15px;
    font-weight: 900;
}

.pnaelProduct img {
    width: 100px;
}

.priceDiv {
    padding-top: 5px;
    font-size: 21px;
    font-weight: 600;
    color: #449d44;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.soldDiv {
    position: absolute;
    top: 40px;
    left: 140px;
    color: red;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
}

.close {
    float: none;
    margin-left: 5px;
}